/* Generic styles for whole page */

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Oswald&family=VT323:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


html,body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(62, 4, 125, 1) 47%, rgba(0, 0, 0, 1) 100%); */
    background-image:url('../assets/Sharkult.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}

main {
    background: rgba(54, 0, 77, 0.9);
}

.heading {
    font-family: 'VT323', monospace;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    filter: drop-shadow(5px 2px 1px black);
    text-decoration: underline;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.purple-text {
    color: violet;
}

@media (min-width: 767px) { 
    .heading {
        font-size: 100px;
        margin-bottom: 70px;
    }
}

/* Navigation Styles */

nav { 
    background:#aa88de;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 60px;
    transition: height 300ms linear;
} 

#nav-toggle {
    position: absolute;
    right: 0;
}

#nav-toggle,
#nav-toggle:after, 
#nav-toggle:before {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 17px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.nav-toggle-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.nav-toggle-inner {
    top: 50%;
    position: absolute;
    margin-top: -2px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;
}

.nav-toggle-inner,
.nav-toggle-inner:after, 
.nav-toggle-inner:before {
    display: block;
    position: absolute;
    width: 40px;
    height: 4px;
    transition-property: transform 75ms cubic-bezier(.55,.055,.675,.19);
    border-radius: 4px;
    background-color: #fff;
}

.nav-toggle-inner:after, 
.nav-toggle-inner:before {
    display: block;
    content: "";
}

.nav-toggle-inner:before {
    top: -10px;
    transition: top 75ms ease .12s,opacity 75ms ease;
}

.nav-toggle-inner:after {
    bottom: -10px;
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
}

.nav-open .nav-toggle-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
}

.nav-open .nav-toggle-inner:before {
    top: 0;
    transition: top 75ms ease, opacity 75ms ease .12s;
    opacity: 0;
}

.nav-open .nav-toggle-inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(
-90deg);
}

.nav-open {
    height: 100%;
}

.nav-item-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.nav-open .nav-item-wrapper {
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.nav-item {
    list-style: none;
    font-size: 45px;
    padding: 10px 0;
    text-align: center;
}

.nav-item a {
    color: thistle;
    transition: opacity 300ms ease-in;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.nav-item a:hover {
    color: thistle;
    opacity: 0.5;
    text-decoration: underline;
}

@media (min-width: 767px) {
    nav { 
        background: none;
        height: auto;
        top: 0;
        transition: top 250ms ease-in, background 300ms ease-in;
    }

    nav.slideUp { 
        top: -85px;
    }

    nav.nav-solid {
        background: #aa88de;
    }

    #nav-toggle {
        display: none;
    }

    .nav-item-wrapper {
        flex-direction: row;
        justify-content: flex-end;
        visibility: visible;
        opacity: 1;
    }

    .nav-item {
        font-size: 30px;
        margin-right: 25px;
        padding: 0;
        text-shadow: 4px 3px 3px #ff00ffcc;
    }

    .nav-item:last-child {
        margin-right: 0;
    }
}

/* Hero Header styles */

.hero-header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    margin: 0;
    z-index: 1;
    color: #aa88de;
    text-shadow: 4px 3px 5px red;
    animation: fadein 3s, slidein 1s, turnon 3s ease-in-out;
    text-align: center;
}

@media (min-width: 767px) {
    .hero-header h1 { 
        font-size: 100px;
    }
}

@media (min-width: 1024px) {
    .hero-header h1 { 
        font-size: 125px;
    }
}

@keyframes turnon {
    0%, 91%, 95%   {
        color: black;
        text-shadow: 4px 3px 5px Indigo;
    }
    89%, 93%, 100% {
        color: #aa88de;
        text-shadow: 4px 3px 5px #ff00ffcc;
    }
}

@keyframes fadein {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0%   {
        transform: translateY(-45%);
    }
    100% {
        transform: translateY(0%);
    }
}

.hero-header:before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile-img {
    flex-basis: 100%;
}

.profile-text {
    font-size: 16px;
    line-height: 32px;
}

/* About Section */

#about .content {
    justify-content: center;
}

.profile-img-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    height: auto;
}

.profile-text {
    font-size: 20px;
    line-height: 36px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.profile-text-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about h3 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.profile-img-container {
    width: 100%;
} 

@media (min-width: 767px) {
    #about .heading {
        margin-bottom: 50px;
    }

    #about h3 {
        font-size: 50px;
    }    

    .profile-img-wrapper {
        width: 300px;
        height: 300px;
    }

    .profile-text {
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
        width: 100%;
    }
}

@media (min-width: 900px) {
    #about .content {
        justify-content: space-between;
    }
    .profile-text-wrapper {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}

/* Social Section */

#socials .heading {
    margin-bottom: 30px;
}

.socials-wrapper {
    width: 100%;
    padding: 0 40px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-icon {
    list-style: none;
    flex-basis: 50%;
    text-align: center;
    margin: 10px 0;
}


.social-icon i{
    font-size: 55px;
    color: #aa88de;
}

.social-icon a {
    display: block;
    transition: all 250ms ease-in;
}

.social-icon a:focus,
.social-icon a:active {
    color: #aa88de;
}

@media (min-width: 767px) {
    .social-icon {
        flex-basis: 20%;
    }

    .socials-wrapper {
        max-width: 600px;
        margin: 0 auto;
    }

    #socials .heading {
        margin-bottom: 70px;
    }

    .social-icon:hover {
        text-shadow: 4px 3px 3px #ff00ffcc;
    }
    
}

/* Contact Section */

#contact {
    padding-bottom: 100px;
}

.contact-form {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    font-size: 20px;
    margin: 5px 0;
}

.contact-form.hidden {
    display: none;
}

#contact .heading {
    margin-bottom: 40px;
}

input {
    height: 30px;
}

textarea {
    height: 300px;
}

.submit-btn {
    margin-top: 20px;
    background: #aa88de;
    border: 3px solid #aa88de;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 60px;
    font-weight: 600;
    transition: all 250ms linear;
}

.thank-you-section {
    display: block;
    width: 100%;
    font-size: 60px;
    text-align: center;
}

.thank-you-section.hidden {
    display: none;
}

.thank-you-section h2 {
    font-size: 45px;
    margin-top: 0;
    color: violet;
    margin-bottom: 10px;
}

.thank-you-section p {
    margin: 0;
    font-size: 30px;
}

@media (min-width: 767px) {
    .submit-btn:hover {
        background: transparent;
    }
    .thank-you-section h2 {
        font-size: 60px;
    }
    
    .thank-you-section p {
        font-size: 35px;
    }
}


/* Footer Styles */

footer {
    background: #aa88de;
    padding: 10px 20px;
}

footer p {
    width: 100%;
    text-align: right;
    color: white;
}

footer .container {
    min-height: auto;
}

/* Shop */

.shop-img-wrapper {
    width: 100%;
    text-align: center;
}

.shop-img-wrapper a {
    display: inline-block;
}

.shop-img-wrapper img {
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
}

#shop p {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 60px;
}

@media (min-width: 767px) {
    #shop p {
        width: 50%;
    }
}

video {
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.fa-link {
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

.mediakit-wrapper {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.mediakit-wrapper a {
    display: inline-block;
}

.mediakit-wrapper a:focus,
.mediakit-wrapper a:active {
    color: white;
}

.mediakit-wrapper p {
    display: inline-block;
    font-size: 30px;
    color: white;
}