@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Oswald:wght@300;400;600&display=swap');
/* Generic styles for whole page */

html,body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: blueviolet;
    text-decoration: underline;
}

/* Navigation Styles */

nav { 
    background:blueviolet;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 50px;
    transition: height 300ms linear;
} 

#nav-toggle,
#nav-toggle:after, 
#nav-toggle:before {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition: opacity .15s linear, filter .15s linear;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.nav-toggle-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.nav-toggle-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
    position: absolute;
    width: 40px;
    height: 4px;
    transition-property: transform 75ms cubic-bezier(.55,.055,.675,.19);
    border-radius: 4px;
    background-color: #fff;
}

.nav-toggle-inner:after, 
.nav-toggle-inner:before {
    display: block;
    content: "";
}

.nav-toggle-inner:before {
    top: -10px;
    transition: top 75ms ease .12s,opacity 75ms ease;
}

.nav-toggle-inner:after {
    bottom: -10px;
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
}

.nav-open {
    height: 100%;
}

.nav-item-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.nav-open .nav-item-wrapper {
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.nav-item {
    list-style: none;
    font-size: 45px;
    padding: 10px 0;
    text-align: center;
}

.nav-item a {
    color: thistle;
    transition: opacity 300ms ease-in;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.nav-item a:hover {
    color: thistle;
    opacity: 0.5;
    text-decoration: underline;
}

@media (min-width: 767px) {
    nav { 
        background: none;
        height: auto;
    }

    #nav-toggle {
        display: none;
    }

    .nav-item-wrapper {
        flex-direction: row;
        justify-content: flex-end;
        visibility: visible;
    }

    .nav-item {
        font-size: 20px;
        margin-right: 25px;
        padding: 0;
    }

    .nav-item:last-child {
        margin-right: 0;
    }
}

/* Hero Header styles */

.hero-header {
    position: relative;
    background-image:url('http://placecorgi.com/1920/1080');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header h1 {
    font-family: 'Neonderthaw', cursive;
    font-size: 50px;
    margin: 0;
    z-index: 1;
    color: blueviolet;
    text-shadow: 4px 3px 5px #ff00ffcc;
    animation: fadein 3s, slidein 1s, turnon 3s ease-in-out;
}

@media (min-width: 767px) {
    .hero-header h1 { 
        font-size: 100px;
    }
}

@media (min-width: 1024px) {
    .hero-header h1 { 
        font-size: 175px;
    }
}

@keyframes turnon {
    0%, 91%, 95%   {
        color: black;
        text-shadow: 4px 3px 5px Indigo;
    }
    89%, 93%, 100% {
        color: blueviolet;
        text-shadow: 4px 3px 5px #ff00ffcc;
    }
}

@keyframes fadein {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0%   {
        transform: translateY(-45%);
    }
    100% {
        transform: translateY(0%);
    }
}

.hero-header:before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}

