@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Oswald&family=VT323:wght@300;400;600&display=swap');
/* Generic styles for whole page */

html,body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image:url('../assets/storm.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background: rgba(54, 0, 77, 0.9);
}

.heading {
    font-family: 'VT323', monospace;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    filter: drop-shadow(5px 2px 1px black);
    text-decoration: underline;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (min-width: 767px) { 
    .heading {
        font-size: 100px;
        margin-bottom: 70px;
    }
}

/* Navigation Styles */

nav { 
    background:blueviolet;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 60px;
    transition: height 300ms linear;
} 

#nav-toggle {
    position: absolute;
    right: 0;
}

#nav-toggle,
#nav-toggle:after, 
#nav-toggle:before {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 17px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.nav-toggle-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.nav-toggle-inner {
    top: 50%;
    position: absolute;
    margin-top: -2px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;
}

.nav-toggle-inner,
.nav-toggle-inner:after, 
.nav-toggle-inner:before {
    display: block;
    position: absolute;
    width: 40px;
    height: 4px;
    transition-property: transform 75ms cubic-bezier(.55,.055,.675,.19);
    border-radius: 4px;
    background-color: #fff;
}

.nav-toggle-inner:after, 
.nav-toggle-inner:before {
    display: block;
    content: "";
}

.nav-toggle-inner:before {
    top: -10px;
    transition: top 75ms ease .12s,opacity 75ms ease;
}

.nav-toggle-inner:after {
    bottom: -10px;
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
}

.nav-open .nav-toggle-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
}

.nav-open .nav-toggle-inner:before {
    top: 0;
    transition: top 75ms ease, opacity 75ms ease .12s;
    opacity: 0;
}

.nav-open .nav-toggle-inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(
-90deg);
}

.nav-open {
    height: 100%;
}

.nav-item-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.nav-open .nav-item-wrapper {
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.nav-item {
    list-style: none;
    font-size: 45px;
    padding: 10px 0;
    text-align: center;
}

.nav-item a {
    color: thistle;
    transition: opacity 300ms ease-in;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.nav-item a:hover {
    color: thistle;
    opacity: 0.5;
    text-decoration: underline;
}

@media (min-width: 767px) {
    nav { 
        background: none;
        height: auto;
        transition: background 300ms ease-in;
    }

    nav.nav-solid {
        background: blueviolet;
    }

    #nav-toggle {
        display: none;
    }

    .nav-item-wrapper {
        flex-direction: row;
        justify-content: flex-end;
        visibility: visible;
        opacity: 1;
    }

    .nav-item {
        font-size: 30px;
        margin-right: 25px;
        padding: 0;
    }

    .nav-item:last-child {
        margin-right: 0;
    }
}

/* Hero Header styles */

.hero-header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header h1 {
    font-family: 'Neonderthaw', cursive;
    font-size: 50px;
    margin: 0;
    z-index: 1;
    color: blueviolet;
    text-shadow: 4px 3px 5px #ff00ffcc;
    animation: fadein 3s, slidein 1s, turnon 3s ease-in-out;
}

@media (min-width: 767px) {
    .hero-header h1 { 
        font-size: 100px;
    }
}

@media (min-width: 1024px) {
    .hero-header h1 { 
        font-size: 125px;
    }
}

@keyframes turnon {
    0%, 91%, 95%   {
        color: black;
        text-shadow: 4px 3px 5px Indigo;
    }
    89%, 93%, 100% {
        color: blueviolet;
        text-shadow: 4px 3px 5px #ff00ffcc;
    }
}

@keyframes fadein {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0%   {
        transform: translateY(-45%);
    }
    100% {
        transform: translateY(0%);
    }
}

.hero-header:before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile-img {
    flex-basis: 100%;
}

.profile-text {
    font-size: 16px;
    line-height: 32px;
}

/* About Section */

@media (min-width: 767px) {
    .profile-img {
        flex-basis: 50%;
    }
    
    .profile-text {
        font-size: 20px;
        padding-left: 60px;
        flex-basis: calc(50% - 60px);
    }
}

/* Social Section */

#socials .heading {
    margin-bottom: 30px;
}

.socials-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.social-icon {
    list-style: none;
    flex-basis: 50%;
    text-align: center;
    margin: 10px 0;
}


.social-icon i{
    font-size: 55px;
    color: blueviolet;
}

.social-icon a {
    display: block;
    transition: all 250ms ease-in;
}

.social-icon a:focus,
.social-icon a:hover,
.social-icon a:active {
    color: blueviolet;
}

@media (min-width: 767px) {
    .social-icon {
        flex-basis: 25%;
    }

    .socials-wrapper {
        max-width: 600px;
        margin: 0 auto;
    }

    #socials .heading {
        margin-bottom: 70px;
    }

    .social-icon:hover {
        text-shadow: 4px 3px 3px #ff00ffcc;
    }
    
}

/* Contact Section */

#contact {
    padding-bottom: 100px;
}

.contact-form {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    font-size: 20px;
    margin: 5px 0;
}

.contact-form.hidden {
    display: none;
}

#contact .heading {
    margin-bottom: 40px;
}

input {
    height: 30px;
}

textarea {
    height: 300px;
}

.submit-btn {
    margin-top: 20px;
    background: blueviolet;
    border: 3px solid blueviolet;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 60px;
    font-weight: 600;
    transition: all 250ms linear;
}

.thank-you-section {
    display: block;
    width: 100%;
    font-size: 60px;
    text-align: center;
}

.thank-you-section.hidden {
    display: none;
}

@media (min-width: 767px) {
    .submit-btn:hover {
        background: transparent;
    }
}


/* Footer Styles */

footer {
    background: blueviolet;
    padding: 10px 20px;
}

footer p {
    width: 100%;
    text-align: right;
    color: white;
}
